@media (max-width: 1200px) {
  .section__card {
    text-align: center;
  }
  .card__item {
    display: block;
    width: 50%;
  }

  .card__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .card__item img {
    display: block;
    margin: 0 auto;
  }

  .card__list {
    flex-direction: column;
    align-items: center;
  }

  .card__descr-text {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 6px;
  }

  .card__content {
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 30px;
  }

  .header__content {
    text-align: center;
  }

  .content__descr {
    margin: 0 auto;
  }

  .card__img {
    padding-top: 30px;
  }
}

@media (max-width: 982px) {
  .header__logo {
    z-index: 50;
    margin-top: 0;
  }
  .nav__list {
    display: none;
  }

  .burger {
    display: block;
  }

  .show-menu {
    display: block;
    position: absolute;
    background: rgba;
    left: 0;
    top: 0;
    width: 19%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding-top: 90px;
    padding-left: 25px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .nav__item:last-child {
    display: none;
  }

  .nav__item {
  }
}
